.header__btn {

    border-radius: 4px;
    border: 1px solid #4fc1e9;
    padding: 8px 14px;
    color: #4fc1e9;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.header__item.header__btn {
    margin-right: 1vw;
    margin-left: 1vw;
}

.header__btn.danger {
    border: 1px solid #ed5565;
    color: #ed5565;
}

.header__btn:hover {
    color: #fff;
    background-color: #4fc1e9;
}

.header__btn.danger:hover {
    background-color: #ed5565;
}

.header__bg{
    top: 0;
    left: 0;
    width: 100vw ;
    height: 10vh;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    margin-left: 5vw;
    width: 90vw ;
}

.header__left {
    display: flex;
    align-items: center;
}

/* .header__item {
    margin-right: 50px;
} */

.header__api {
    position: relative;
    cursor: pointer;
}

.header__api:hover:before {
    right: 0;
}

.header__api:before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -6px;
    background: #363636;
    height: 1px;
    transition-property: right;
    transition: all 0.3s ease-out;
}

.header__logo {
    width: 100px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__user {
    padding-left: 2vw;
    position: relative;
    margin-right: 1vw;
}

.header__user:before {
    content: "";
    background-image: url(user.svg);
    width: 18px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.header__data {
    font-size: 20px;
    font-weight: 600;
    padding-left: 7vw;
}