body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    font-family: "Open Sans";
    margin: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    color: #363636;
}

p {
    margin: 0;
}

.main {
    margin-top: 60px;
}

input {
    height: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

.center{
    text-align: center;
    align-items: center;
}

.back__btn {
    vertical-align: top;
    padding: 1px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    border: 1px solid gray;
    border-radius: 8%;
    padding: 3px;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
}

/* .main__inner {
    margin-top: 40px;
} */



.option__btn{
    border: 1px solid gray;
    border-radius: 8%;
}

.lesson {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
}

.lesson__number{
    color: #707070;
    font-size: 20px;
    font-weight: 300;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50%;
}


.filter-option pull-left{
    width: 20%;
}

.option{
    float: right;
    display: flex;
    flex-direction: row;
    vertical-align: 100%;
    max-height: 100%;
    margin-bottom: 5px;
}

.option__btn{
    vertical-align: top;
    padding: 1px;
    float: right;
    display: flex;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.select__menu{
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

.select__menu *{
    margin-left: 3px;
}

.select__menu .cabinet button{
    width: 100px;
}

.select__menu .cabinet{
    width: 100px;
}

.select__menu .subgroup{

    margin-bottom: 5px;
}

.subgroup{
    display: flex;
    flex-direction: row;
}

.subgroup *{
    margin-right: 3px;
}

.main__info{
    display: flex;
    flex-direction: row;
}

/* input[type="checkbox"] {
    display: none;
} */

label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: auto;
    margin-top: auto;
}

label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px FontAwesome;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
    border-radius: 3px;
}

/* input:checked + label:before {
    content: url("people.svg");
}

input:not(:checked) + label:before {
    content: url("person.svg");
}

input:disabled + label:before {
    background: #eee;
    color: #aaa;
} */

input {
    height: 20px;
    margin-bottom: auto;
    /* margin-top: 3px; */
}



