.main-timetable .main__inner {
    /* display: flex; */
    flex-wrap: wrap;
    /* margin: -5px 0 0 -45px; */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    /* flex-direction:row; */
    /* height: 90vh; */
}
.main-timetable .timetable {
    margin: 2vh 3vw 2vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px rgba(235, 239, 239, 0.75);
    border-radius: 6px;
    background-color: #fff;
    padding: 25px 30px;
    min-width: 20vw;
}
.main-timetable .timetable__date {
    margin-right: 1em;
    font-size: 20px;
    font-weight: 600;
    /* padding-left: 40px; */
    /* position: relative; */
}
/* .main-timetable .timetable__date:before { */
    /* content: url(calendar.svg); */
    /* background-image: url(calendar.svg); */
    /* width: 27px;
    height: 27px; */
    /* position: absolute; */
    /* left: 0;
    top: 0; */
/* } */

.main-timetable .main__title{
    text-align: center;
    font-size: 20px;
}