.main-timetable .main__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0 0 -45px;
}
.main-timetable .timetable {
    margin: 45px 0 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px rgba(235, 239, 239, 0.75);
    border-radius: 6px;
    background-color: #fff;
    padding: 25px 30px;
    min-width: 420px;
}
.main-timetable .timetable__date {
    font-size: 20px;
    font-weight: 600;
    padding-left: 40px;
    position: relative;
}
.main-timetable .timetable__date:before {
    content: "";
    background-image: url(calendar.svg);
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 0;
}

